/* Fondo tipo login moderno */
.form-page {
    font-family: 'Open Sans', sans-serif;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    padding: 1rem;
  }
  
  /* Caja del formulario */
  .form-box {
    background: #ffffffd9;
    padding: 2.5rem;
    border-radius: 16px;
    max-width: 800px;
    max-height: 800px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border: 1px solid rgb(0, 0, 0, 0.25);
  }
  
  /* Título rojo con letras blancas, tipo Power Apps */
  .form-title {
    background-color: #c00;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 12px 12px 0 0;
    margin: -2.5rem -2.5rem 1.5rem -2.5rem;
  }
  
  /* Grupo de input */
  .input-group {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #333;
    font-size: 1rem; /* más grande que los inputs */
  }
  
  .input-group input {
    font-family: 'Open Sans', sans-serif;
    padding: 0.6rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.875rem; /* más pequeño */
    border: 1px solid rgba(0, 0, 0, 0.25);
    max-height: 32px;
  }
  
  .input-group textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 0.6rem 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 0.875rem; /* también más pequeño */
    resize: none;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    max-height: 80px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .submit-container {
    display: flex;
    justify-content: center;
  }
  
  /* Botón enviar */
  .submit-btn {
    width: 40%;
    padding: 0.75rem;
    background: #01ab8b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 1rem;
    min-height: 60px;
  }
  
  .submit-btn:hover {
    opacity: 0.9;
  }
  
  .submit-logo-container {
    max-height: 100px;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    margin-top: 0.5rem;
  }
  
  .logo-img {
    width: 90px;
    height: 50px;
    opacity: 0.9;
  }
  .enviado-box {
    text-align: center;
    padding: 3rem 2rem;
  }
  
  .enviado-icon {
    margin-bottom: 1rem;
  }
  
  .enviado-title {
    color: #01ab8b;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .enviado-msg {
    font-size: 1rem;
    color: #333;
  }
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader-container {
    background: transparent;
  }
  